# OpenSubtitles (v3 proxy - no necesita API key)

# SubDL
SUBDL_API_KEY=tu_api_key_de_subdl
SUBDL_USER_AGENT=StremioSubAddonES/1.0

# NVIDIA AI (traducción)
# Crear cuenta gratis en https://build.nvidia.com → API Keys
NVIDIA_API_KEY=tu_api_key_de_nvidia
# Modelo para traducción (puedes cambiarlo por otros de la lista gratuita)
NVIDIA_MODEL=nvidia/nemotron-4-340b-instruct

PORT=7000